.gamesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.gameBox {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.detailsButton,
.deleteButton {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: white;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.detailsButton:hover,
.deleteButton:hover {
  background-color: #f5f5f5;
}

/* Media queries para pantallas pequeñas (móviles) */
@media only screen and (max-width: 600px) {
  .gamesListContainer {
    padding: 10px;
    max-width: 100%; /* Ocupa todo el ancho disponible */
  }

  .gameItem {
    flex-direction: column; /* Cambia a disposición vertical */
    align-items: flex-start; /* Alinea los elementos a la izquierda */
  }

  .gameTitle {
    font-size: 18px; /* Reduce el tamaño del título */
    margin-bottom: 10px; /* Espacio entre el título y el botón */
  }

  .detailsButton {
    width: 100%; /* El botón ocupa todo el ancho en móviles */
    text-align: center;
    font-size: 14px;
    padding: 8px 16px;
  }
}

/* Media queries para tablets */
@media only screen and (max-width: 768px) {
  .gamesListContainer {
    padding: 15px;
    max-width: 90%; /* Ajusta el ancho en tablets */
  }

  .gameTitle {
    font-size: 22px; /* Ajusta el tamaño del título */
  }

  .detailsButton {
    font-size: 16px;
    padding: 10px 20px;
  }
}

/* Para pantallas grandes (escritorios) */
@media only screen and (min-width: 769px) {
  .gamesListContainer {
    max-width: 1000px;
  }

  .gameTitle {
    font-size: 24px;
  }

  .detailsButton {
    font-size: 18px;
    padding: 12px 24px;
  }
}
