.homeContainer {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

h2 {
  font-size: 32px;
  color: #333;
  margin-top: 0; /* Ajusta el margen superior */
  margin-bottom: 100px; /* Espacio entre el título y el botón */
  position: relative;
  top: -10px; /* Sube el título ligeramente */
}

.addButton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #646cff;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  position: absolute;
  top: 80px; /* Ajusta el margen superior para colocar el botón más abajo que el título */
  right: 20px;
}

.addButton:hover {
  background-color: #535bf2;
}